@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
<div class="row">
    <div class="col-lg-4">
        <div class="container bg-primary">
            
            <h4 class="text-white">Unichem Cambridge Pharmacy</h4>
            <h5>Pharmacists can help to support the health of your family; they can provide advice and treatment for common minor illnesses for all ages.</h5>
       <hr />
        </div>


        <p>
            Pharmacists ensure that prescriptions are dispensed correctly and that the medicine and dose is appropriate for you, so that you receive the maximum benefits from your medicines. Your pharmacist will help you understand what your medicines are prescribed for, how to take them, possible side effects and how to store them.

            <br />All advice and treatment is conducted in a professional and confidential manner and most services are provided free of charge and do not generally require an appointment.

            <br />For safe disposal, please return any expired or unwanted medicines, or needles/lancets and syringes to your pharmacy. There is no charge for this service.
       <hr />
        
        </p>




    </div>
    <div class="col-lg-8">

        <div class="container bg-secondary">

            <img src="~/img/img1.jpg" />
        </div>

    </div>
    </div>
    </div>